<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miniproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Heart of Hope"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Miniproject">
        <activity
            android:name=".MainActivity"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".addEvent"
            android:exported="true" />
        <activity
            android:name=".EventMainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".OrgInsert"
            android:exported="true" />
        <activity
            android:name=".Org_MainActivity"
            android:exported="true"/>

        <activity android:name=".prev_project_details"></activity>
        <activity android:name=".prev_projects" />

        <activity android:name=".AddProject" />

        <activity android:name=".CategoryActivity" />
        <activity
            android:name=".SearchProjects"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity android:name=".ViewProjectDetails" />
        <activity
            android:name=".ProductLandingActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>